body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.btn-primary {
  background-color: rgb(246, 161, 56);
  color: black;
}

.vinyls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating span {
  color: rgb(255, 217, 0);
}

.vinyl {
  border: rgb(64, 64, 64) 1px solid;
  margin: 1rem;
}

.vinyl img {
  width: 100%;
  max-width: 400px;
}

.vinyl-info {
  padding: 1rem;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.login-container {
  max-width: 600px;
}

.shipping-container,
.profile-container {
  width: 60% !important;
}

.steps > div {
  color: rgb(160, 160, 160);
  border-bottom: 0.2rem solid rgb(160, 160, 160);
}

.steps > div.active {
  color: rgb(240, 128, 0);
  border-bottom: 0.2rem solid rgb(240, 128, 0);
}

.payment-container {
  width: 50% !important;
}
